pre {
  line-height: 1;
  font-family: monospace;
}

pre code {
  line-height: 1;
}

.markdown-body {
    max-width: 700px;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}