@import "{{ site.theme }}";

.highlight pre,
pre,
pre code,
.highlight code {
  line-height: 1 !important;
}

.highlight pre {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  white-space: pre;
}